.feed-form {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  max-width: 300px;
  input {
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0 20px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}
