.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
  &__close {
    position: absolute;
    top: 0;
    font-size: 41px;
    line-height: 21px;
    right: -41px;
    color: $base-color;
    cursor: pointer;
  }
  &__title {
    color: #0d0d0d;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
  }
  &__subtitle {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 500;
    margin-top: 11px;
    text-align: center;
  }
  &_mini {
    width: 380px;
    min-height: 140px;
  }
  .error {
    border: 1px solid #ff0000;
    &:focus {
      outline: none;
    }
  }
  label.error {
    border: none;
  }
}

#consultation,
#order,
#thanks {
  display: none;
}

@media (max-width: 576px) {
  .modal {
    width: 320px;
    &__close {
      top: 18px;
      right: 15px;
    }
  }
}
